﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    @{ if (@TempData.Peek("ApplicationName") != null)
        {
            <title>@System.Configuration.ConfigurationManager.AppSettings["siteName"] ::: @TempData.Peek("ApplicationName").ToString() :::</title>
        }
        else
        {
            <title>@System.Configuration.ConfigurationManager.AppSettings["siteName"] ::: Subcontractor Hours :::</title>
        }

    }

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    <link rel="stylesheet" href="~/Content/KPI2009common.css" />
    <link rel="stylesheet" media="(max-width: 560px)" href="~/Content/KPI2009mobile.css" />
    <link rel="stylesheet" media="(max-width: 989px) and (min-width: 561px)" href="~/Content/KPI2009tablet.css" />
    <link rel="stylesheet" media="(min-width: 990px)" href="~/Content/KPI2009regular.css" />

    <script type="text/javascript">

        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        };

  

        $(document).ready(function () {

            $('#searchbackground').click(function () {
                hidejobsearch();
            });
        });
        function hidejobsearch() {
            $("#searchbackground").css("display", "none");
            $("#jobsearch").css("display", "none");
        }
        function showjobsearch() {
            $("#searchbackground").css("display", "block");
            $("#jobsearch").css("display", "block");
        }
    </script>
</head>
<body>


    <div id="searchbackground" style="position:fixed !important;display:none;width:100%;height:100%;left:0px;z-index:999;background-color:#808080;opacity: 0.5;filter: alpha(opacity=50);">&nbsp;</div>

    @if (Request.Params["myaction"] == "Edit" || Request.Params["myaction"] == "Insert" || (Request.Params["myaction"] == "Delete" && Request.Params["referrer"] == "Edit"))
    {

    <div id="jobsearch" style="display:none;margin-left:15%;width:70%;z-index:1000;position:fixed;border:0px solid green;top:15%;height:600px;">
        @Html.Action("Jobs", new { SHMCU = Request.Params["MMMCU"].ToString() })
    </div>
    }
    <div class="container body-content">

        @RenderBody()
        <div style="text-align:center;">2001 - @DateTime.Now.Year Clark Construction Group, LLC</div>
    </div>



    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
