﻿@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@helper  TopMenu(List<SiteMapNodeModel> nodeList)
    {
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul id="menu" class="nav navbar-nav bsmenu">
                        @foreach (SiteMapNodeModel node in nodeList)
                        {
                            string url = node.IsClickable ? node.Url : "#";
                            bool isactive = false;
                            if (@Request.Url.PathAndQuery == @url)
                            {
                                isactive = true;
                            }

                            if (!node.Children.Any())
                            {
                                if (isactive)
                                {
                                    <li><a class="dropdown2  activedropdown">@node.Title</a></li>
                                }
                                else
                                {
                                    <li><a class="dropdown2" href="@url">@node.Title</a></li>
                                }
                            }
                            else
                            {
                                if (isactive)
                                {
                                    <li class="dropdown activedropdown"><a class="dropdown-toggle dropdown2" data-toggle="dropdown">@node.Title <span class="caret"></span></a>@DropDownMenu(node.Children)</li>
                                }
                                else
                                {
                                    <li class="dropdown"><a href="#" class="dropdown-toggle dropdown2" data-toggle="dropdown">@node.Title <span class="caret"></span></a>@DropDownMenu(node.Children)</li>
                                }

                            }

                            if (node != nodeList.Last())
                            {

                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
}

@helper DropDownMenu(SiteMapNodeModelList nodeList)
    {
        <ul class="dropdown-menu" role="menu">
            @foreach (SiteMapNodeModel node in nodeList)
            {
                if (node.Title == "Separator")
                {
                    <li class="divider"></li>
                    continue;
                }

                string url = node.IsClickable ? node.Url : "#";

                if (!node.Children.Any())
                {
                    <li><a class="dropdown2" href="@url">@node.Title</a></li>
                }
                else
                {
                    <li class="dropdown-submenu"><a class="dropdown2" href="@url">@node.Title</a>@DropDownMenu(node.Children)</li>
                }
            }
        </ul>
}

@{
    if (Model.Nodes.Count > 2)
    {
        @TopMenu(Model.Nodes)
    } else
    {
        <nav class="navbar navbar-inverse" role="navigation">&nbsp;</nav>
    }
}

