﻿


div.kpilineheader div {
    height:24px;
    line-height:10px;
}



div.kpilinelarge, div.kpilinelarge div {
    font-size: 12px;
}

    div.kpilinelarge2, div.kpilinelarge2 div {
        font-size: 10px;
    }

input:not([type="submit"]):not([type="button"]) {
    height: 20px;
    text-align: right;
}

input#OBRequisitionDate {
    width: 120px;
    text-align: right;
}

#FV20Block002 input:not([type="submit"]):not([type="button"]) {
    float: left;
    width: 50px;
}

div.headerthing {
    font-size: 24px;
}



table.kpipager1 td:nth-of-type(4), table.kpipager1 th:nth-of-type(4) {
    display: none;
}



table.kpipager2 td:nth-of-type(5), table.kpipager2 th:nth-of-type(5) {
    display: none;
}

table.kpipager2 td:nth-of-type(6), table.kpipager2 th:nth-of-type(6) {
    display: none;
}
table.kpipager2 td:nth-of-type(7), table.kpipager2 th:nth-of-type(7) {
    display: none;
}

table.kpipager3 td:nth-of-type(5), table.kpipager3 th:nth-of-type(5) {
    display: none;
}


div.pagerfooter {

    width: 100%;
    text-align: right;
}

a.pagerlink {
    margin-left: 3px;
    margin-right: 3px;
}

#reqdate {
    display: inline-block;
}

#OBRequisitionDate {
    display: inline-block;
}

#newreq {
    
    margin-top: 8px;
}

div.FV20Block002left {
    width: 100%;
}

div.FV20Block002right {
    width: 100%;
}


div.FV20Block002leftA {
    padding-top: 5px;
    display: inline-block;
    font-weight: bold;
    width: 50%;
    text-align: left;
}

div.FV20Block002leftB {
    padding-top: 5px;
    display: inline-block;
    width: 50%;
    text-align: left;
    font-weight: normal;
}

div.detailcolumnwide {
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    width: 22%;
}
div.detailcolumn {
    width:22%
}
    div .jtd {
    display:none;
}
div.detailprevmonth {
    width:22%;
}
div.OBcol1 {
    
    width: 28%;

}
@media (min-width: 600px) {
    div.OBcol1 {
        font-size: 14px !important;
       
    }
    div.kpiline, div.kpiline div {
        font-size: 14px !important;
       
    }

}

div.kpiline, div.kpiline div {
    
}


a#togglejtdcurrent {
    text-decoration:underline;
}

a#togglejtdcurrent:hover {
    cursor:pointer;
}

#searchbutton {

}
div#togglediv {
    display: block;
}

input.editdate {
    min-width:88px;
    
}


.searchdivparent {
    float:none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.tablethide {
    display:none !important;
}

.tabletbreak {
        display: block !important;
}