﻿@model IEnumerable<SubcontractorHours.Models.spSubcontractorHours_Result>

<style>
    div.masterDivDetail div, div.masterDivDetail {
        float: left;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        $('#goback').click(function () {
            $("#gobackform").submit();
        });
    });

</script>

<div class="masterDivDetail">

    @Html.Partial("ReqDetail", new ViewDataDictionary { { "JobNo", @Model.First().MMMCU }, { "pagelevel", "Detail" }, { "JobDescription", @Model.First().jobdescription } })

    @{
        MvcForm form;
        if (Request.QueryString["AppID"] != null)
        {
            form = Html.BeginForm("Default", "Home", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "gobackform", name = "gobackform" });
        }
        else
        {
            form = Html.BeginForm("Default", "Home", FormMethod.Post, new { id = "gobackform", name = "gobackform" });
        }

        using (form)
        {
            @Html.AntiForgeryToken()
            <input id="goback" type="button" value="Back" class="btn btn-default backlink" />
            <input type="hidden" name="MMMCU" value="@Model.First().MMMCU" class="btn btn-default" />
            <input type="hidden" id="myaction" name="myaction" value="Index2" />
        }
    }
    <div style="width:100%;" id="FV20Block000">
        <div style="width:100%;">
            @if (Model.First().SHStatus == 30)
            {
                <div class="topdivquarter" style="display:block;float:left;border:0px solid blue;">
                    <div class="Category250" style="float:none;">Report Date:</div>
                    <div class="Category251" style="float:none;padding-left:5px;">@string.Format("{0:MM/dd/yyyy}", Model.First().SHRequisitionDate)</div>
                </div>
            }
            else
            {
                <div class="topdiv" style="display:block;float:left;border:0px solid blue;">
                    <div class="Category250" style="float:none;">Report Date:</div>
                    <div class="Category251" style="float:none;padding-left:5px;">@string.Format("{0:MM/dd/yyyy}", Model.First().SHRequisitionDate)</div>
                </div>
            }


            @if (Model.First().SHStatus == 30)
            {
                <div class="topdivquarter" id="detailappJTDhours" style="display:block;float:left;border:0px solid blue;">
                    <div class="Category250" style="float:none;">Report Hours:</div>
                    <div id="totalhours" class="Category251" style="float:none;padding-left:5px;">@Html.DisplayFor(modelItem => Model.First().SHTotalHours)</div>
                </div>
            }
            else
            {
                <div class="topdiv" id="detailappJTDhours" style="display:block;float:left;border:0px solid blue;">
                    <div class="Category250" style="float:none;">Report Hours:</div>
                    <div id="totalhours" class="Category251" style="float:none;padding-left:5px;">@Html.DisplayFor(modelItem => Model.First().SHTotalHours)</div>
                </div>
            }




            @if (Model.First().SHStatus == 30)
            {
                <div class="topdivquarter" style="display:block;float:left;">
                    <div class="Category250" style="float:none;">Status:</div>
                    <div id="reqstatus" class="Category251" style="float:none;padding-left:5px;"> @Html.DisplayFor(modelItem => Model.First().SHStatusDescription)</div>
                </div>
            }


            @if (Model.First().SHStatus == 30)
            {
                <div class="topdivquarter" style="display:block;float:left;border:0px solid blue;">
                    <div class="Category250" style="float:none;">JTD Hours:</div>
                    <div id="JTDhours" class="Category251" style="float:none;padding-left:5px;">@Html.DisplayFor(modelItem => Model.First().SHTotalHoursJTD)</div>
                </div>
            }
            else
            {
                <div class="topdiv" style="display:block;float:left;border:0px solid blue;">
                    <div class="Category250" style="float:none;">JTD Hours:</div>
                    <div id="JTDhours" class="Category251" style="float:none;padding-left:5px;">@Html.DisplayFor(modelItem => Model.First().SHTotalHoursJTD)</div>
                </div>
            }

        </div>
    </div>

    <div id="FV20Block001" runat="server" class="block" visible="false" style="border:0px solid blue;margin-top:5px;width:100%;">

        <div id="hourslist" style="border:0px solid blue;display:block;float:left;width:100%;text-align:center;">

            @{
                if (Model.ToList().Count == 0)
                {
                    <div style="border:0px solid blue;display:block;float:left; width:100%;">
                        <span>No hours entered </span>
                    </div>
                }
                else
                {
                    if ((Model.Count() == 1) && Model.First().SHTotalHours == null)

                    {
                        <div style="margin-top:20px;width:100%;text-align:center;font-weight:bold;">There are no hours entered for this report</div>
                    }
                    else
                    {
                        <table class="table kpipager3" style="margin-top:15px;border:0px solid blue;margin-right:auto;margin-left:auto;display:inline-block;width:auto;">
                            <tr id="headerrow">
                                <th style="padding:5px;text-align:center;">Sub #</th>
                                <th style="padding:5px;">Subcontractor</th>
                                <th style="padding:5px;">Lower Tier Sub</th>
                                <th style="text-align:right;padding:5px;padding-right:10px;">Hours</th>
                            </tr>

                            @{
                                decimal reporthours = 0;

                                foreach (var item in Model)
                                {
                                    reporthours = reporthours + Convert.ToDecimal(item.SIHours);

                                    <tr id="row-@item.SISubcontractor">
                                        <td style="padding:5px;min-width:100px;">
                                            @Html.DisplayFor(modelItem => item.SISubcontractor) &nbsp;
                                        </td>
                                        <td style="padding:5px;white-space:nowrap;text-align:left;">
                                            @Html.DisplayFor(modelItem => item.abalph) &nbsp;
                                        </td>
                                        <td style="padding:5px;white-space:nowrap;text-align:left;">
                                            @Html.DisplayFor(modelItem => item.SILowerTierSub) &nbsp;
                                        </td>
                                        <td style="padding:5px;width:100px;text-align:right;">
                                            @Html.DisplayFor(modelItem => item.SIHours) &nbsp;
                                        </td>
                                    </tr>
                                }

                                <tr>
                                    <td colspan="3" style="font-weight:bold;border-top:1px solid black;text-align:left;">REPORT TOTAL:</td>
                                    <td style="font-weight:bold;border-top:1px solid black;text-align:right;">
                                        @reporthours.ToString("#,##0.00")
                                    </td>
                                </tr>
                            }
                        </table>
                    }

                }
            }

        </div>


        <div class="block" style="display:block;text-align:center;width:100%;border:0px solid red;margin-top:10px;">

            @{

                MvcForm form2;
                if (Request.QueryString["AppID"] != null)
                {
                    form2 = Html.BeginForm("Default", "Home", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "oldform", name = "oldform" });
                }
                else
                {
                    form2 = Html.BeginForm("Default", "Home", FormMethod.Post, new { id = "oldform", name = "oldform" });
                }
                using (form2)

                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="oldMMMCU" name="MMMCU" value="@Model.First().MMMCU" class="btn btn-default" />
                    <input type="hidden" name="myaction" value="Details" />
                    <input type="hidden" name="SHRequisitionDate" value="@Model.First().SHRequisitionDate" class="btn btn-default" />
                }
            }

            @{
                MvcForm form3;
                if (Request.QueryString["AppID"] != null)
                {
                    form3 = Html.BeginForm("Default", "Home", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "oldform2", name = "oldform2" });
                }
                else
                {
                    form3 = Html.BeginForm("Default", "Home", FormMethod.Post, new { id = "oldform2", name = "oldform2" });
                }
                using (form3)

                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="MMMCU" value="@Model.First().MMMCU" class="btn btn-default" />
                    <input type="hidden" name="myaction" value="Details" />
                    <input type="hidden" name="SHRequisitionDate" value="@Model.First().SHRequisitionDate" class="btn btn-default" />
                }
            }


            <div style="float:none;clear:both;display:inline-block;border:0px solid blue;margin-left:auto;margin-right:auto;">
                @{
                    MvcForm form4;
                    if (Request.QueryString["AppID"] != null)
                    {
                        form4 = Html.BeginForm("Default", "Home", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { @class = "inlineform", id = "deleteform", name = "deleteform" });
                    }
                    else
                    {
                        form4 = Html.BeginForm("Default", "Home", FormMethod.Post, new { @class = "inlineform", id = "deleteform", name = "deleteform" });
                    }

                    using (form4)
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="MMMCU" value="@Model.First().MMMCU" />
                        <input type="hidden" name="SHRequisitionDate" value="@Model.First().SHRequisitionDate" />
                        <input type="hidden" name="myaction" value="Edit" />
                        <input type="hidden" name="referrer" value="Details" />
                        if (Model.First().SHStatus < 20 && (Convert.ToInt32(TempData.Peek("UserAccessLevel").ToString()) >= Convert.ToInt32(TempData.Peek("LevelMin").ToString())))
                        {
                            <input type="submit" name="edit" value="Edit" class="btn btn-default" />
                        }
                    }
                }
                <!-- visible false -->
                @{
                    if ((Model.First().SHStatus == 10 || Model.First().SHStatus == 30) && (Convert.ToInt32(TempData.Peek("UserAccessLevel").ToString()) >= Convert.ToInt32(TempData.Peek("LevelMin").ToString())))
                    {

                        MvcForm form5;
                        if (Request.QueryString["AppID"] != null)
                        {
                            form5 = Html.BeginForm("Default", "Home", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { @class = "inlineform", id = "pendingform", name = "pendingform" });
                        }
                        else
                        {
                            form5 = Html.BeginForm("Default", "Home", FormMethod.Post, new { @class = "inlineform", id = "pendingform", name = "pendingform" });
                        }
                        using (form5)
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="MMMCU" value="@Model.First().MMMCU" />
                            <input type="hidden" name="SHRequisitionDate" value="@Model.First().SHRequisitionDate" />
                            <input type="hidden" name="myaction" value="ReopenPending" />
                            <input type="submit" name="reopenpending" value="Reopen for Editing" class="btn btn-default" onclick="javascript:return checkFormView('O00');" />
                        }
                    }
                }

                @{
                    if (Model.First().SHStatus == 20 && (Convert.ToInt32(TempData.Peek("UserAccessLevel").ToString()) >= Convert.ToInt32(TempData.Peek("LevelMin").ToString())))
                    {
                        MvcForm form6;
                        if (Request.QueryString["AppID"] != null)
                        {
                            form6 = Html.BeginForm("Default", "Home", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { @class = "inlineform", id = "pencilform", name = "pencilform" });
                        }
                        else
                        {
                            form6 = Html.BeginForm("Default", "Home", FormMethod.Post, new { @class = "inlineform", id = "pencilform", name = "pencilform" });
                        }
                        using (form6)
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="MMMCU" value="@Model.First().MMMCU" />
                            <input type="hidden" name="SHRequisitionDate" value="@Model.First().SHRequisitionDate" />
                            <input type="hidden" name="myaction" value="PencilMonth" />
                            <input type="submit" name="reopenpencil" value="Reopen to Pencil" class="btn btn-default" onclick="javascript:return checkFormView('O10');" />
                        }
                    }
                }

                @{
                    if (Model.First().SHTotalHours == null)
                    {


                        MvcForm form7;
                        if (Request.QueryString["AppID"] != null)
                        {
                            form7 = Html.BeginForm("Default", "Home", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { @class = "inlineform", id = "oldform", name = "oldform" });
                        }
                        else
                        {
                            form7 = Html.BeginForm("Default", "Home", FormMethod.Post, new { @class = "inlineform", id = "oldform", name = "oldform" });
                        }

                        using (form7)

                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="MMMCU" value="@Model.First().MMMCU" />
                            <input type="hidden" name="SHRequisitionDate" value="@Model.First().SHRequisitionDate" />
                            <input type="hidden" name="myaction" value="Delete" />
                            <input type="hidden" name="referrer" value="Details" />
                            <input type="submit" name="delete" value="Delete" class="btn btn-default" onclick="javascript:return checkFormView('D');" />
                        }
                    }
                }
            </div>
            <div style="width:100%;">
                <div style="clear:left;float:left;width:100%;">
                    <div class="kplinelarge" style="font-weight:bold;">Remark:</div>
                    <div style="clear:left;border:solid 1px #E3E3E3;height:180px;margin-top:5px;overflow:auto;width:100%;">
                        @Html.DisplayFor(modelItem => Model.First().SHRemark)
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>

<script type="text/javascript">
    function OnSuccessDelete(data) {

        if (data.param1 == "404") {
            alert(data.param2);
        } else {
            alert('bla');
            $("#oldform").submit();
        }
    }


    function OnSuccessPending(data) {

        if (data.param1 == "404") {
            alert(data.param2);
        } else {
            $("#oldform2").submit();
        }
    }

    function OnFailure(data) {
        alert(data.param2);
    }

</script>
