﻿@model IList<SubcontractorHours.Models.spSubcontractorHours_Result>
<style>
    div.masterDivDetail div, div.masterDivDetail {
        float: left;
    }
</style>

@if (ViewBag.Error != null)
{
    <script type="text/javascript">

        window.onload = function () {

            alert("@ViewBag.Error");
        };

    </script>
}
<script type="text/javascript">

    function checkblank(myobj) {
        if ($(myobj).val() == "") {
            $(myobj).attr("class", "input-validation-error");
            alert("Please enter a lower tier sub name");
        } else {
            $(myobj).attr("class", "valid");
        }
    }

    function checkvalid() {
        var returnme = true;
        var validator = $("#editform").validate(), errors = validator.errorList;
  
        if (!($("#editform").valid())) {

    
  

            alert("You are missing one or more lower tier subcontractor names. Correct the fields highlighted in red and resubmit. ");
            return false;
        } else {
      

            var rowcount = $('#tdeditdetails tr').length;
            rowcount = rowcount - 3;
            for (i = 0; i < rowcount; i++) {
                var mycontrol = $("#\\[" + i + "\\]\\.SIHours");
                
                if (verifyFields(mycontrol, "SIHoursItem", true) == false) {
               
                    returnme = false;
                    return false;
                }

                
            }
        
            return returnme;
        }
    }

    function confirmedit() {
        var rowcount = $('#tdeditdetails tr').length;
        rowcount = rowcount - 3;
        for (i = 0; i < rowcount; i++) {

            if (document.getElementById("[" + i + "].SILowerTierSub")) {
           
            if (document.getElementById("[" + i + "].SILowerTierSub").value != document.getElementById("[" + i + "].SILowerTierSubOld").value) {
                return confirm("You have changed an existing value below, but have not saved your work. If you click OK you will proceed, but lose unsaved work. Click Cancel to go back and save before continuing.");
                }
            }
        }
        return true;
    }

    function checkFormInsert() {

        
        
        if ($("#SISubcontractor").val() == "" || $("#abalph").text() == "") {
            alert("Contractor Number/Name Required")
            return false;
        }
        var mycontrol = $("#SIHours");
        if (verifyFields(mycontrol, $("#SIHours").attr('id'), true) == false) {
            return false;
        } 

        return confirmedit();

    }

    function DefaultComplete(lesshours) {

        var myjtd = $("#JTDhours").text().replace(',','');
        var newtotal = myjtd - lesshours;
        $("#JTDhours").text(formatthousands(newtotal))

    }

    $(document).ready(function () {

        $('#goback').click(function () {
            if (confirmedit() == true) {
                $("#gobackform").submit();
            } else {
                return false;
            }
        });


        $('.deletelink').click(function () {

            if (confirmedit() == false) {
                return false;
            }

            if (checkFormView("DD") == true) {
                var data = event.target.id;
                var arr = data.split('~~~');
                $('#deleteMMMCU').val(arr[0]);
                $('#deleteSISubcontractor').val(arr[1]);
                $('#deleteSILowerTierSub').val(arr[2]);
                $('#deleteSIHours').val(arr[3]);
                $('#deleteSHRequisitionDate').val(arr[4]);

                $('#deleteform').submit();

            } else { return false; }
        });
        

        $('#SISubcontractor').change(function () {

         
            var dataObject = {};

            var SHMCU = 'SHMCU';
            dataObject[SHMCU] = ' @Model.First().MMMCU';

            var SISubcontractor = 'SISubcontractor';
            dataObject[SISubcontractor] = $("#SISubcontractor").val();
      
            $.ajax({
                url: '/Application/SubcontractorHours/Jobs',
                dataType: 'json',
                type: 'GET',
                cache: false,
                data: dataObject,
                error: function () {
                    alert('Subcontractor not found for this job!');
                },
                success: function (data) {

                    if (data.param1 == "404") {
                 
                        $('#abalph').text("");
                    } else {
                    
                        $('#abalph').text(data.param2);
                    }
                }

            });
        });

    });

</script>

@{
    MvcForm form;
    if (Request.QueryString["AppID"] != null)
    {
        form = Html.BeginForm("Default", "Home", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "gobackform", name = "gobackform" });
    }
    else
    {
        form = Html.BeginForm("Default", "Home", FormMethod.Post, new { id = "gobackform", name = "gobackform" });
    }
    using (form)
    {
        @Html.AntiForgeryToken()
        <input type="hidden"  name="myaction" value="Index2" />
        <input type="hidden" name="MMMCU" id="MMMCU" value="@Model.First().MMMCU" class="btn btn-default" />
    }

    using (Html.BeginForm("Default", "Home", FormMethod.Post, new { id = "deleteform", name = "deleteform" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" id="deleteMMMCU" name="MMMCU" />
        <input type="hidden" id="deleteSISubcontractor" name="SISubcontractor" />
        <input type="hidden" id="deleteSILowerTierSub" name="SILowerTierSub" />
        <input type="hidden" id="deleteSIHours" name=" SIHours" />
        <input type="hidden" name="referrer" value="Edit" />
        <input type="hidden" name="myaction" value="Delete" />
        <input type="hidden" id="deleteSHRequisitionDate" name="SHRequisitionDate" />

    }
}



<div class="masterDivDetail" style="">
    @Html.Partial("ReqDetail", new ViewDataDictionary { { "pagelevel", "Detail" }, { "JobNo", Model.First().MMMCU }, { "JobDescription", @Model.First().jobdescription } })



    <input id="goback" type="button" value="Back" class="btn btn-default backlink"   style="margin-top:0px;margin-bottom:0px;" />
    <div style="width:100%;" id="FV20Block000">
        <div style="width:100%;">

            @if (Model.First().SHStatus == 30)
            {
                <div class="topdivquarter" style="display:block;float:left;border:0px solid blue;">
                    <div class="Category250" style="float:none;">Report Date:</div>
                    <div class="Category251" style="float:none;padding-left:5px;">@string.Format("{0:MM/dd/yyyy}", Model.First().SHRequisitionDate)</div>
                </div>
            }
            else
            {
                <div class="topdiv" style="display:block;float:left;border:0px solid blue;">
                    <div class="Category250" style="float:none;">Report Date:</div>
                    <div class="Category251" style="float:none;padding-left:5px;">@string.Format("{0:MM/dd/yyyy}", Model.First().SHRequisitionDate)</div>
                </div>
            }


            @if (Model.First().SHStatus == 30)
            {
                <div class="topdivquarter" id="detailappJTDhours" style="display:block;float:left;border:0px solid blue;">
                    <div class="Category250" style="float:none;">Report Hours:</div>
                    <div id="totalhours" class="Category251" style="float:none;padding-left:5px;">@Html.DisplayFor(modelItem => Model.First().SHTotalHours)</div>
                </div>
            }
            else
            {
                <div class="topdiv" id="detailappJTDhours" style="display:block;float:left;border:0px solid blue;">
                    <div class="Category250" style="float:none;">Report Hours:</div>
                    <div id="totalhours" class="Category251" style="float:none;padding-left:5px;">@Html.DisplayFor(modelItem => Model.First().SHTotalHours)</div>
                </div>
            }




            @if (Model.First().SHStatus == 30)
            {
                <div class="topdivquarter" style="display:block;float:left;">
                    <div class="Category250" style="float:none;">Status:</div>
                    <div id="reqstatus" class="Category251" style="float:none;padding-left:5px;"> @Html.DisplayFor(modelItem => Model.First().SHStatusDescription)</div>
                </div>
            }


            @if (Model.First().SHStatus == 30)
            {
                <div class="topdivquarter" style="display:block;float:left;border:0px solid blue;">
                    <div class="Category250" style="float:none;">JTD Hours:</div>
                    <div id="JTDhours" class="Category251" style="float:none;padding-left:5px;">@Html.DisplayFor(modelItem => Model.First().SHTotalHoursJTD)</div>
                </div>
            }
            else
            {
                <div class="topdiv" style="display:block;float:left;border:0px solid blue;">
                    <div class="Category250" style="float:none;">JTD Hours:</div>
                    <div id="JTDhours" class="Category251" style="float:none;padding-left:5px;">@Html.DisplayFor(modelItem => Model.First().SHTotalHoursJTD)</div>
                </div>
            }




        </div>
    </div>

    <div id="FV20Block001" runat="server" class="block" visible="false" style="border:0px solid blue;margin-top:5px;width:100%;">




        <div style="border:0px solid red;display:block;float:left;">



            @if (Model.First().SHStatus < 10)
    {

        //using (Html.BeginForm("Default", "Home", FormMethod.Post, new { id = "insertform", name = "insertform" }))
        using (Ajax.BeginForm("Default",null, new AjaxOptions() { HttpMethod = "POST", OnFailure = "OnFailure", OnSuccess = "OnSuccessInsert" }, new { id = "insertform", name = "insertform" }))
{
        @Html.AntiForgeryToken()
        <input type="hidden" name="myaction" value="Insert" />
        <input type="hidden" name="MMMCU" value="@Model.First().MMMCU" />
        <input type="hidden" name="SHRequisitionDate" value="@Model.First().SHRequisitionDate" />


        <div style="border:0px solid green;padding:10px;width:100%;text-align:center;margin-bottom:0px;background-color:#f1f1f1;display:block;text-align:center;margin-bottom:10px;">

            <div style="margin:0 auto;margin-left:auto;margin-right:auto;border:0px solid red;width:auto;padding-bottom:5px;float:none;text-align:center;">

                <div class="searchdivparent">
                    <div class="searchdiv">Subcontractor <span class="redrequired">*</span></div>
                    <div class="searchdiv">
                        @Html.TextBoxFor(model => model.First().SISubcontractor, new { Value = "", @style = "width:70px !important;", id = "SISubcontractor" }) <img style="display:inline-block;" id="searchbutton" src="/Images/search.png" onclick="showjobsearch();" />
                    </div>
                </div>

                <div class="searchdivparent">
                    <!--<div class="searchdiv">Subcontractor Name</div>-->
                    <div class="searchdiv"><span id="abalph"></span></div>
                </div>
                <br class="tabletbreak" />
                <div class="searchdivparent">
                    <div class="searchdiv">Lower Tier Sub</div>

                    @{
                { Html.EnableClientValidation(false); }
                    }
                    <div class="searchdiv">@Html.TextBoxFor(model => model.First().SILowerTierSub, new { @style = "width:240px !important;text-align:left;", Value = "" })</div>
                    @{
                { Html.EnableClientValidation(true); }
                    }
                </div>
                <div class="searchdivparent">
                    <div class="searchdiv">Hours <span class="redrequired">*</span></div>
                    <div class="searchdiv">@Html.TextBoxFor(model => model.First().SIHours, new { Value = "", @id = "SIHours", @style = "width:60px !important;", @onchange = " var mycontrol = $(this);verifyFields(mycontrol, $(this).attr('id'), true);" })</div>
                </div>
                <br class="tabletbreak" />
                <div class="searchdivparent" style="margin-top:0px !important;margin-bottom:0px;">
                    <div class="searchdiv">
                        <input type="submit" class="submithours btn btn-default" value="Insert" onclick="javascript:return checkFormInsert();" />

                    </div>
                </div>

            </div>
        </div>

}
}


            @using (Ajax.BeginForm("Edit", null, new AjaxOptions() { HttpMethod = "POST", OnFailure = "OnFailure", OnSuccess = "OnSuccessEdit" }, new { id = "editform", name = "editform" }))
    {
        @Html.AntiForgeryToken()


        <div id="hourslist" style="border:0px solid blue;display:block;float:left;width:100%;text-align:center;">

            @{
        if (Model.ToList().Count == 0)
        {
            <div style="border:0px solid blue;display:block;float:left; width:100%;">
                <span>No hours entered </span>
            </div>
}
else
{

        <div style="width:70%;float:none;display:inline-block;margin-left:auto;margin-right:auto;">Enter the hours for each subcontractor above. If a subcontractor uses a lower tier sub, their name can be entered above. To update hours for existing subs, modify the data below and below and click SAVE.</div>

if ((Model.Count() == 1) && Model.First().SHTotalHours == null)

{
        <div style="margin-top:20px;width:100%;text-align:center;font-weight:bold;">There are no hours entered for this report</div>
}
else
{




        <table id="tdeditdetails" class="table kpipager3" style="margin-top:15px;border:0px solid blue;margin-right:auto;margin-left:auto;display:inline-block;width:auto;">
            <tr id="headerrow">
                <th style="padding:5px;text-align:center;">Sub #</th>
                <th style="padding:5px;text-align:left;">Subcontractor Name</th>
                <th class="tablethide" style="padding:5px;text-align:center;">Lower Tier Sub</th>
                <th style="text-align:right;padding:5px;padding-right:15px;">Hours</th>
                <th class="mobilehide tablethide" style="text-align:right;padding:5px;">JTD Hours</th>
                <th style="padding:5px;">&nbsp;</th>
            </tr>
            @{
        decimal reporthours = 0;
        decimal jtdhours = 0;

        for (var i = 0; i < Model.Count(); i++)
        {

            reporthours = reporthours + Convert.ToDecimal(Model[i].SIHours);
            jtdhours = jtdhours + Convert.ToDecimal(Model[i].SHTotalHoursJTDSub);

            <tr id="row-@Model[i].SISubcontractor@Model[i].SILowerTierSub">
                <td style="padding:5px;min-width:100px;">

                    @Html.HiddenFor(m => Model[i].MMMCU)
                    @Html.HiddenFor(m => Model[i].SHRequisitionDate)

                    @Html.DisplayFor(m => Model[i].SISubcontractor)

                    @Html.HiddenFor(m => Model[i].SISubcontractor)

                </td>
                <td style="padding:5px;white-space:nowrap;text-align:left;">
                    @Html.DisplayFor(m => Model[i].abalph)
                    @Html.HiddenFor(m => Model[i].abalph)
                </td>
                <td class="tablethide" style="padding:5px;white-space:nowrap;text-align:left;">
                    @Html.HiddenFor(m => Model[i].SILowerTierSubOld, new { @id = "[" + i + "].SILowerTierSubOld" })
                    @if (Model[i].SILowerTierSub != null && Model[i].SILowerTierSub != "")
            {

                if (Model.First().SHStatus >= 10)
                {
                    @Html.DisplayFor(m => Model[i].SILowerTierSub)
                    @Html.HiddenFor(m => Model[i].SILowerTierSub)

        }
        else
        {

            @Html.TextBoxFor(m => Model[i].SILowerTierSub, new { @id = "[" + i + "].SILowerTierSub", @style = "width:240px;text-align:left;", @onchange = " checkblank($(this));" })

}
}
else
{
        @Html.HiddenFor(m => Model[i].SILowerTierSub)

}

                </td>
                <td style="padding:5px;text-align:right;">
                    @Html.HiddenFor(m => Model[i].SIHoursOld, new { @id = "[" + i + "].SIHoursOld", Value = String.Format("{0:N}", Model[i].SIHours) })
                    @if (Model.First().SHStatus >= 10)
            {
                @Html.DisplayFor(m => Model[i].SIHours)
                @Html.HiddenFor(m => Model[i].SIHours)

    }
    else
    {


        @Html.TextBoxFor(modelItem => Model[i].SIHours, new { @style = "width:70px", @id = "[" + i + "].SIHours", Value = String.Format("{0:N}", Model[i].SIHours), @onchange = " var mycontrol = $(this);verifyFields(mycontrol, 'SIHoursItem', true);" })


}
                </td>
                <td class="mobilehide" style="padding:5px;white-space:nowrap;text-align:right;">

                    @Html.DisplayFor(modelItem => Model[i].SHTotalHoursJTDSub)


                    @Html.HiddenFor(m => Model[i].SHTotalHoursJTDSub)
                </td>
                @if (Model.First().SHStatus < 10)
        {

            <td style="padding:5px;text-align:right;">

                @if (Model[i].SIHours > 0)
        {

            <a class="deletelink" id="@Model[i].MMMCU~~~@Model[i].SISubcontractor~~~@Model[i].SILowerTierSub~~~@Model[i].SIHours~~~@Model[i].SHRequisitionDate">Delete</a>

}
            </td>
}

            </tr>

}
        <tr>
            <td colspan="3" style="font-weight:bold;border-top:1px solid black;text-align:left;">REPORT TOTAL:</td>
            <td style="font-weight:bold;border-top:1px solid black;text-align:right;">
                @reporthours.ToString("#,##0.00")
            </td>
            <td style="font-weight:bold;border-top:1px solid black;text-align:right;">
                @jtdhours.ToString("#,##0.00")
            </td>
            <td style="font-weight:bold;border-top:1px solid black;text-align:right;"></td>
        </tr>
            }
        </table>
}
}
            }



        </div>



        <div class="block" style="display:block;text-align:center;width:100%;border:0px solid red;margin-top:10px;">

            <div style="float:none;clear:both;display:inline-block;border:0px solid blue;margin-left:auto;margin-right:auto;">
                <input type="hidden" name="MMMCU" value="@Model.First().MMMCU" />
                <input type="hidden" name="SHRequisitionDate" value="@Model.First().SHRequisitionDate" />
                <input type="hidden" name="myaction" value="Edit" />
                <input type="hidden" name="lastappno" />
                <input type="submit" name="buttontype" value="Save" class="btn btn-default" onclick="javascript: return checkvalid();" /> <!--onclick="javascript:return checkFormView('U');" -->
                <!-- should be hidden initially -->

                @{

            if (Model.First().SHStatus < 10 && Model.Count == 1 && Model.First().SISubcontractor == 0 && Model.First().SHTotalHoursJTD == null)
            {
                <input type="submit" name="buttontype" id="skip" value="No Hours For This Job" class="btn btn-default" onclick="javascript:return checkFormView('U30');"
                       formaction="Edit" formmethod="post" />
    }
                }


                <input type="submit" name="buttontype" value="Cancel" id="cancel" class="btn btn-default"
                       formaction="Edit" formmethod="post" />

            </div>

            <div style="width:100%;">
                <div style="clear:left;float:left;width:100%;">
                    <div class="kplinelarge" style="font-weight:bold;">Remark:</div>
                    <div style="clear:left;border:solid 0px #E3E3E3;height:180px;margin-top:5px;overflow:auto;width:100%;">
                        @Html.TextAreaFor(model => model.First().SHRemark, 7, 200, new { @tabindex = "12", @class = "AlignLeft", @style = " border: 1px solid black !important;" })
                    </div>
                </div>
            </div>

        </div>
}     <!-- !!! end form !!! -->

        </div>

    </div>

</div>


@{ MvcForm form2;
    if (Request.QueryString["AppID"] != null)
    {
        form2 = Html.BeginForm("Default", "Home", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "oldform", name = "oldform" });
    }
    else
    {
        form2 = Html.BeginForm("Default", "Home", FormMethod.Post, new { id = "oldform", name = "oldform" });
    }

    using (form2)
    {
        @Html.AntiForgeryToken()
        <input type="hidden" id="oldMMMCU" name="MMMCU" value="@Model.First().MMMCU" class="btn btn-default" />
        <input type="hidden" id="SHRequisitionDate" name="SHRequisitionDate" value="@Model.First().SHRequisitionDate" class="btn btn-default" />
        <input type="hidden" id="referrer" name="referrer" value="Edit" />
        <input type="hidden" id="myaction" name="myaction" value="Details" />
    }
}


<script type="text/javascript">
    function OnSuccessEdit(data) {
        if (data.param1 == "404") {
            alert(data.param2);
        } else {
            $("#myaction").val("Details");
            $("#oldform").submit();
        }

    }

    function OnSuccessInsert(data) {
        
        if (data.param1 == "404") {
            alert(data.param2);
        } else {
            $("#myaction").val("Edit");
            $("#oldform").submit();
        }

    }


    function OnSuccessDelete(data) {
        if (data.param1 == "404") {
            alert("404 error: " + data.param2);
        } else {
            if (data.param4 == null || data.param4 == "") {
                
                $('#' + data.param2).val("");
            } else {
                document.getElementById(data.param5).style.display = "none";
            }

            $("#totalhours").text(formatthousands(data.param3));
        }
    }

    function OnFailure(data) {
        alert("Failure: " + data.param2);
    }



</script>

