﻿@model IEnumerable<SubcontractorHours.Models.spSubcontractorHours_Result>
@using System.Web.Mvc.Html;

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("@ViewBag.Message");
        };

    </script>
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#newreqdate").val("");
        $(function () { $("#newreqdate").datepicker({ showOn: "button", buttonImage: "Images/TextBoxBackground/calendar.gif", buttonImageOnly: true, buttonText: "Select date" }); });

        $('.joblink').click(function () {

            $(this).parents('form:first').submit();

        });

        $('#goback').click(function () {

            $("#gobackform").submit();

        });

        $('.deletelink').click(function () {
            if (checkFormView("D") == true) {
                
                $(this).parents('form:first').submit();
            } else {

                
                return false;
            }
        });

    });

</script>

<div class="masterDivDetail">

    @Html.Partial("ReqDetail", new ViewDataDictionary { { "pagelevel", "Report" }, { "JobNo", @Model.First().MMMCU }, { "JobDescription", @Model.First().jobdescription } })


    @{

        MvcForm form;
        if (Request.QueryString["AppID"] != null)
        {
            form = Html.BeginForm("Default", "Home", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "gobackform", name = "gobackform" });
        }
        else
        {
            form = Html.BeginForm("Default", "Home", FormMethod.Post, new { id = "gobackform", name = "gobackform" });
        }



        using (form)
        {
            @Html.AntiForgeryToken()

            <input id="goback" type="button" value="Back" class="btn btn-default backlink" />

            <input type="hidden" id="myaction" name="myaction" value="Default" style="margin-bottom:10px;" />
        }
    }
    <table class="table kpipager2" style="">
        <tr id="headerrow">
            <th>
                Report Date
            </th>
            <th style="text-align:right;">
                Report Hours
            </th>
            <th style="text-align:right;">
                JTD Hours
            </th>
            <th style="text-align:right;">
                Last Updated
            </th>
            <th style="text-align:center;">
                Action
            </th>
        </tr>

        @foreach (var item in Model.Where(x => x.SHRequisitionDate != null))
        {
            <tr id="row-@item.SHRequisitionDate">
                <td>
                    @{
                        MvcForm form2;
                        if (Request.QueryString["AppID"] != null)
                        {
                            form2 = Html.BeginForm("Default", "Home", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "detailform" + @item.SHRequisitionDate, name = "detailform" + @item.SHRequisitionDate });
                        }
                        else
                        {
                            form2 = Html.BeginForm("Default", "Home", FormMethod.Post, new { id = "detailform" + @item.SHRequisitionDate, name = "detailform" + @item.SHRequisitionDate });
                        }

                        using (form2)
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="MMMCU" value="@item.MMMCU" />
                            <input type="hidden" name="SHRequisitionDate" value="@item.SHRequisitionDate" />
                            <input type="hidden" name="myaction" value="Details" />
                            <a class="joblink" id="link-@item.SHRequisitionDate"> @string.Format("{0:MM/dd/yyyy}", item.SHRequisitionDate)</a>
                        }
                    }
                </td>

                <td style="text-align:right;">



                    @if (item.SHStatus == 30)
                    {
                        <span>No Hours</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.SHTotalHours)
                    }
                </td>
                <td style="text-align:right;">

                    @Html.DisplayFor(modelItem => item.SHTotalHoursJTD)
                </td>
                <td style="text-align:right;">
                    @string.Format("{0:MM/dd/yyyy}", item.SHDateChange)
                </td>
                <td style="text-align:center;">
                    @{
                    
                        if (item.SHTotalHours == null && Convert.ToInt32(TempData.Peek("UserAccessLevel").ToString()) >= Convert.ToInt32(TempData.Peek("LevelMin").ToString()))

                        {



                            using (Ajax.BeginForm("Default", null, new AjaxOptions() { HttpMethod = "POST", OnFailure = "OnFailure", OnSuccess = "OnSuccessDelete" }, new { id = "deleteform" + @item.SHRequisitionDate, name = "deleteform" + @item.SHRequisitionDate }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="MMMCU" value="@item.MMMCU" />


                                <input type="hidden" name="myaction" value="Delete" />


                                <input type="hidden" name="SHRequisitionDate" value="@item.SHRequisitionDate" />


                                <a class="deletelink">Delete</a>
                            }
                        }
                    }
                </td>

            </tr>
        }

    </table>

    <div class="form-horizontal">

        <div class="form-group">

            <div class="col-md-10">

                @using (Html.BeginForm("Default", "Home", FormMethod.Post, new { id = "deleteform", name = "deleteform" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="deleteMMMCU" name="MMMCU" value="@Model.First().MMMCU" />
                    <input type="hidden" name="referrer" value="Index2" />
                    <input type="hidden" name="myaction" value="Index2" />

                }


                @{

                    MvcForm form3;
                    if (Request.QueryString["AppID"] != null)
                    {
                        form3 = Html.BeginForm("Default", "Home", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "oldform", name = "oldform" });
                    }
                    else
                    {
                        form3 = Html.BeginForm("Default", "Home", FormMethod.Post, new { id = "oldform", name = "oldform" });
                    }
                    using (form3)
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="oldMMMCU" name="MMMCU" value="@Model.First().MMMCU" class="btn btn-default" />
                        <input type="hidden" id="oldjobdescription" name="jobdescription" value="@Model.First().jobdescription" class="btn btn-default" />
                        <input type="hidden" id="SHRequisitionDate" name="SHRequisitionDate" class="btn btn-default" />
                        <input type="hidden" id="referrer" name="referrer" value="Index2" />
                        <input type="hidden" id="myaction" name="myaction" value="Edit" />
                    }
                }

                @{

                    if (Convert.ToInt32(TempData.Peek("UserAccessLevel").ToString()) >= Convert.ToInt32(TempData.Peek("LevelMin").ToString()))
                    {


                        using (Ajax.BeginForm("Default", null, new AjaxOptions() { HttpMethod = "POST", OnFailure = "OnFailure", OnSuccess = "OnSuccess" }, new { id = "newform", name = "newform" }))
                        {

                            @Html.AntiForgeryToken()
                            <div id="reqdate">Report Date:</div>
                            @Html.TextBoxFor(model => model.First().SHRequisitionDate, new { @id="newreqdate", @value = "", @style = "width:80px;", data_val_date = "Not a correct date format." });
                            @Html.ValidationMessageFor(model => Model.First().SHRequisitionDate, "", new { @class = "text-danger" })
                            <input type="hidden" id="MMMCU" name="MMMCU" value="@Model.First().MMMCU" class="btn btn-default" />
                            <input type="hidden" id="myaction" name="myaction" value="CreateNew" class="btn btn-default" />
                            <input id="newreq" type="submit" value="Create" class="btn btn-default" onclick="javascript:return verifyFields($('#newreqdate'),'SHRequisitionDate',true);" />
                        }
                    }
                }

                <script type="text/javascript">
                    function OnSuccess(data) {
                        if (data.param1 == "404") {
                            alert(data.param2);
                        } else {
                            $("#SHRequisitionDate").val(data.param2);
                            $("#oldform").submit();
                        }

                    }
                    function OnFailure(data) {
                        alert(data.param2);
                    }

                    function OnSuccessDelete(data) {

                        if (data.param1 == "404") {
                            alert("404 error: " + data.param2);
                        } else {

                            //document.getElementById(data.param2).style.display = "none";
                            //resubmitting a form that posts and returns itself is easier than just removing one row, otherwise we wouls have to loop through all existing rows and subtract that report's hours from each other rows' JTD Hours
                            $('#deleteform').submit();

                        }
                    }

                </script>

            </div>

        </div>

    </div>

</div>

