﻿@model PagedList.IPagedList<SubcontractorHours.Models.spSubcontractorHours_Result>
@using PagedList.Mvc;


@{
    if (ViewBag.Error == null)
    {
<div class="masterDivDetail">



    @Html.Partial("ReqDetail", new ViewDataDictionary { { "pagelevel", "Project" } })

    @{
        MvcForm form;
        if (Request.QueryString["AppID"] != null)
        {
            form = Html.BeginForm("Default", "Home", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { name = "obformfilter", id = "obformfilter" });
        }
        else
        {
            form = Html.BeginForm("Default", "Home", FormMethod.Post, new { name = "obformfilter", id = "obformfilter" });
        }
        using (form)
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="sortOrder" name="sortOrder" value="@ViewBag.CurrentSort" />
            <input type="hidden" id="whichpagenum" name="whichpagenum" value="" />
            <input type="hidden" id="whichpage" name="whichpage" value="" />
            <input type="hidden" name="myaction" value="Default" />

            <div style="width:100%;text-align:center;margin-bottom:5px;display:block;background-color:white !important;float:left;clear:both;">

                <table style="margin:0 auto;margin-left:auto;margin-right:auto;border:0px solid blue;width:auto;margin-bottom:5px;margin-bottom:5px;">

                    <tr style="background-color:white !important;">

                        @{if (Convert.ToInt32(TempData.Peek("KeyType").ToString()) == 9999)
        {
                    <td class="searchdiv" style="">Company:</td>
}
                        }

                        <td class="searchdiv" style="">Region: </td>

                        <td class="searchdiv" style="">Project No / Name:</td>

                        <td class="searchdiv" style="">Include Kahua?</td>

                    </tr>
                    <tr>

                        @{if (Convert.ToInt32(TempData.Peek("KeyType").ToString()) == 9999)
        {
                    <td class="searchdiv"> @Html.DropDownList("Companies", "* ALL")</td>
}
                        }

                        <td class="searchdiv">@Html.DropDownList("Regions", "* ALL") </td>

                        <td class="searchdiv"> @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { style = "text-align:left;width:240px;margin:0px;margin-bottom:0px;" })</td>

                        <td class="searchdiv"> <input name="chkkahua" id="chkkahua" value="true" type="checkbox" checked="@ViewBag.chkkahua" /></td>
                    </tr>

                </table>
            </div>
        }
    }

    <script>

        $(document).ready(function () {


            $('.joblink').click(function () {
                var mystring = this.id;
                //var mystring2 = $(this).text();
                $('#MMMCU').val(mystring.replace("link-", ""));
                $('#myaction').val("Index2");
                $('#obform').submit();
            });
            $('.datelink').click(function () {
                var mystring = this.id;
                var arr = mystring.split("~~~");
                $('#MMMCU').val(arr[1].replace("link-", ""));
                $('#SHRequisitionDate').val(arr[0].replace("seq-", ""));

                $('#myaction').val("Details");
                $('#obform').submit();
            });

            $('#sortlink1').click(function () {
                $('#sortOrder').val("@ViewBag.NameSortParm");
                document.forms[0].submit();
            });
             $('#sortlink2').click(function () {
                $('#sortOrder').val("@ViewBag.DateSortParm");
                document.forms[0].submit();
            });
            $('#sortlink3').click(function () {
                $('#sortOrder').val("@ViewBag.AppSortParm");
                document.forms[0].submit();
            });

            $('#pagelinkFirst').click(function () {
                $('#whichpage').val("First");
                document.forms[0].submit();
            });
            $('#pagelinkNext').click(function () {
                $('#whichpage').val("Next");
                $('#whichpagenum').val(@ViewBag.pagenum);
                document.forms[0].submit();
            });
            $('#pagelinkLast').click(function () {
                $('#whichpage').val("Last");
                document.forms[0].submit();
            });
            $('#pagelinkPrevious').click(function () {
                $('#whichpage').val("Previous");
                $('#whichpagenum').val(@ViewBag.pagenum);
                document.forms[0].submit();
            });

            $('#MyPagedList').change(function () {
                var pageName = $('#MyPagedList').find(":selected").text();
                $('#whichpagenum').val(pageName);
                document.forms[0].submit();
            });
       });

        $('#searchString').change(function () { this.form.submit(); });

        $('#chkkahua').change(function () { this.form.submit(); });

        $(function () {
            $('#Companies').change(function () {
                $('#obformfilter').submit();

            });
        });

        $(function () {
            $('#Regions').change(function () {
                this.form.submit();
            });
        });

    </script>

    <style type="text/css">

        th {
            text-align: center;
        }
    </style>

    @{
        MvcForm form2;
        if (Request.QueryString["AppID"] != null)
        {
            form2 = Html.BeginForm("Default", "Home", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { name = "obform", id = "obform" });
        }
        else
        {
            form2 = Html.BeginForm("Default", "Home", FormMethod.Post, new { name = "obform", id = "obform" });
        }
        using (form2)
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="MMMCU" name="MMMCU" value="" />
            <input type="hidden" id="SHRequisitionDate" name="SHRequisitionDate" value="" />
            <input type="hidden" id="myaction" name="myaction" value="Index2" />
            <table class="table kpipager1" cellspacing="3" cellpadding="3">
                <tr id="headerrow">
                    <th>


                        <a class="headersubmit" id="sortlink1">Project Name</a>

                    </th>
                    <th>
                        <a class="headersubmit" id="sortlink2">Last Reported</a>

                    </th>
                    <th style="text-align:right;">
                        Report Hours
                    </th>
                    <th style="text-align:right;">
                        JTD Hours
                    </th>
                    <th style="text-align:center;">
                        Last Updated
                    </th>
                </tr>
                @{ if (Model.TotalItemCount == 0)
                    {
                        <tr><td colspan="5" style="color:red;" align="center">No Projects Found!</td></tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (@item.QCF03K == true)
                                    {
                                        @item.jobdescription
                                    }
                                    else
                                    {
                                        <a class="joblink" id="link-@item.MMMCU.Trim()">@item.jobdescription</a>
                                    }


                                </td>
                                <td align="center">
                                    @{
        if (@item.QCF03K == true)
        {
                                <span>KAHUA</span>
}
else
{
                                <a class="datelink" id="seq-@item.SHRequisitionDate.ToString()~~~link-@item.MMMCU.Trim()"> @string.Format("{0:MM/dd/yyyy}", item.SHRequisitionDate)</a>



}
                                    }
                                </td>

                                <td align="right">
                                    @{
                                        if (item.SHStatus == 30)
                                        {
                                            <span>No Hours</span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.SHTotalHours)
                                        }
                                    }

                                </td>
                                <td align="right">
                                    @Html.DisplayFor(modelItem => item.SHTotalHoursJTD)
                                </td>
                                <td align="center">
                                    @string.Format("{0:MM/dd/yyyy}", item.SHDateChange)
                                </td>
                            </tr>
                        }
                    }


                }

            </table>
        }
    }
    <br />
    @if (Convert.ToInt32(ViewBag.mypagecount) > 1)
    {


        <div class="pagerfooter">


            @if (Convert.ToInt32(ViewBag.pagenum) != 1)
            {


                <a class="headersubmit pagerlink" id="pagelinkFirst">&lt;&lt;First</a>

                <a class="headersubmit pagerlink" id="pagelinkPrevious">&lt;Prev</a>
            }


            @Html.DropDownList("MyPagedList", new SelectList(ViewBag.list, "Text", "Value", ViewBag.pagenum.ToString()), new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, currentFilterR = ViewBag.CurrentFilterR, currentFilterC = ViewBag.CurrentFilterC })

            of @Model.PageCount


            @if (Convert.ToInt32(ViewBag.pagenum) < @Model.PageCount)
            {
                <a class="headersubmit pagerlink" id="pagelinkNext">Next&gt;</a>

                <a class="headersubmit pagerlink" id="pagelinkLast">Last&gt;&gt;</a>
            }

        </div>
    }
</div>
    }
    else
    {
        Html.Partial("NoAccess");
    }
}




