﻿@model IEnumerable<SubcontractorHours.Models.spSubContractorsAuthJob_Result>
@{
    Layout = null;
}


<script type="text/javascript">
    $('#formfilter').ready(function () {



        $('#searchString').keypress(function (event) {

            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });

        $('input[name=whichMMMCU]').click(function () {
            var selValue = $('input[name=whichMMMCU]:checked').val().split("~~~");
            



            $("#SISubcontractor").val(selValue[0].trim());
            //$("#abalph").val(selValue[1].trim());
            $("#abalph").text(selValue[1].trim());
            hidejobsearch();
            //$("#thisform").validate().element("#jobnumber");

        });


        $(function () {
            $('#searchbutton2').click(function () {
                $.ajax({
                    url: '/Application/SubcontractorHours/Jobs',
                    dataType: 'html',
                    type: 'POST',
                    cache: false,
                    data: {
                        searchString: $("#searchString").val(),
                        SHMCU: $("#MMMCU").val()
                        
                    },
                    error: function () {
                        alert('error searching!');
                    },
                    success: function (responseText) {
                        $('#jobsearch').html(responseText);
                    }
                });
            });
        });


        $(function () {
            $('#searchString').change(function () {
                $.ajax({
                    url: '/Application/SubcontractorHours/Jobs',
                    dataType: 'html',
                    type: 'POST',
                    cache: false,
                    data: {
                        searchString: $("#searchString").val(),
                        SHMCU: $("#MMMCU").val()
                    },
                    error: function () {
                        alert('error searching!');
                    },
                    success: function (responseText) {
                        $('#jobsearch').html(responseText);
                    }
                });
            });
        });

    });

</script>
@{

    using (Html.BeginForm("Jobs", null, FormMethod.Post, new { name = "formfilter", id = "formfilter" }))
    {



        <div style="border:2px solid grey; width:100%;height:40px;background-color:#dedede;text-align:center;padding-top:4px;">
            <div>
                <div style="display:inline-block;font-weight:bold;">Subcontactor No / Name:</div>
                <div style="display:inline-block;"> @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { style = "text-align:left;width:240px;" }) <img style="display:inline-block;" id="searchbutton2" src="/Images/search.png" /></div>
            </div>

        </div>
        <div style="height:536px;overflow-y:scroll;background-color:white;">
            <table class="table">
                <tr>
                    <th></th>
                    <th>
                        Sub No
                    </th>
                    <th>
                        Sub Name
                    </th>
                </tr>
                @{
                    int jobcount = 0;

                    foreach (var item in Model)
                    {

                        jobcount = jobcount + 1;

                        <tr>
                            <td style="min-width:50px;"><input type="radio" value="@Html.DisplayFor(modelItem => item.combo)" name="whichMMMCU" /> </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PHAN8)
                            </td>
                            <td>
                               @Html.DisplayFor(modelItem => item.abalph)
                            </td>
                        </tr>
                    }
                    if (jobcount == 0)
                    {
                        <tr><td colspan="3" align="center">No results</td></tr>
                    }
                }
            </table>
        </div>
    }
}